#root {
  height: 100%;
  display: grid;
  grid-template: 1fr / auto auto;
  align-content: center;
  gap: 12vw;
}

.form-container {
  display: grid;
  align-content: start;
  margin-top: 10vh;
  gap: 20px;
  justify-self: end;
  width: 70%;
}

.preview {
  justify-self: start;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

form {
  width: 100%;
}

form p {
  display: grid;
}

form input,
form textarea {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1.1rem;
}

legend {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

fieldset {
  border: 4px solid #fff;
  border-radius: 20px;
  font-size: 1.3rem;
  display: grid;
}

.active,
.save-button {
  background-color: #f9f9f9;
  color: #213547;
}

.save-button {
  width: fit-content;
  padding: 0.6em 2em;
  justify-self: end;
  margin-right: 1em;
}

@media (max-width: 1360px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
